<!-- home.component.html -->
<div class="home-page">
  <nav class="nav-section">
    <button class="nav-btn active" (click)="goToHome()">Home</button>
    <button class="nav-btn" (click)="goToAbout()">About</button>
    <button class="nav-btn" (click)="goToProjectt()">Projects</button>
    <button class="nav-btn" (click)="goToContact()">Contact</button>
  </nav>

  <main class="hero-content">
    <section class="hero-section">
      <div class="hero-text">
        <h2 class="hero-subtitle">Hey there!, I'm-</h2>
        <h1 class="hero-title">Maseka.</h1>
        <p class="hero-description">
          A Software Engineer with a Bachelor of Computer Science, and a passion for technology.<br>
          Currently specializing in Web & Mobile Development.
        </p>

        <div class="social-links">
          <a href="https://github.com/maseka001" target="_blank" class="social-link github">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://www.linkedin.com/in/yourlinkedinusername/" target="_blank" class="social-link linkedin">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="mailto:anuarimaseka001@gmail.com" class="social-link email">
            <i class="fas fa-envelope"></i> Email
          </a>
        </div>
      </div>
    </section>
  </main>
</div>